@model ZooApp.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Event</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required pattern="[A-Z][a-zA-Z\s]*"
                       title="Name has to begin with a capital letter and must not include any special characters or numbers." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required maxlength="500"
                       pattern="[A-Z][a-zA-Z\s]*"
                       title="Description has to begin with a capital letter and must not include any special characters or numbers." />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label"></label>
                <input asp-for="TicketPrice" class="form-control" required type="number" min="5"
                       title="Ticket price must be above $5." />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Change Image</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


