@model ZooApp.Models.VisitorLog

@{
    ViewData["Title"] = "Edit Comment";
}

<link rel="stylesheet" href="~/css/site.css" />

<style>
    /* CSS for dropdown arrow */
    .form-group:hover .input-group::after {
        content: "▼"; /* Arrow symbol that represents a dropdown */
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 20px;
        pointer-events: none;
    }
</style>

<h4 style="text-align:center">Edit Comment</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit" style="text-align:center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="VisitorLogId" />

            <div class="form-group">
                <label asp-for="VisitorId" class="control-label">Visitor</label>
                <div class="input-group">
                    <select asp-for="VisitorId" class="form-control dropdown-arrow" asp-items="ViewBag.VisitorId">
                        <option value="" disabled selected>Select your Visitor from dropdown</option>
                    </select>
                </div>
                <span asp-validation-for="VisitorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Review" class="control-label">Review</label>
                <div class="input-group">
                    <select asp-for="Review" class="form-control dropdown-arrow" asp-items="Html.GetEnumSelectList<ReviewType>()">
                        <option value="" disabled selected>Select from dropdown</option>
                    </select>
                </div>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comments " class="control-label">Comments (Maximum 200 characters allowed.)</label> <span style="color : black">Maximum 200 characters allowed.</span>
                <textarea asp-for="Comments" class="form-control" rows="5" maxlength="200" placeholder="Enter your comment (max 200 characters)" required></textarea>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="text-align:center">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
