@model ZooApp.Models.Ticket

@{
    ViewData["Title"] = "Create Ticket";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1 class="text-center">Create a New Ticket</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="form-group">
                    <label asp-for="VisitorId" class="control-label"><i class="fas fa-user"></i> Visitor</label>
                    <div class="input-group">
                        <select asp-for="VisitorId" class="form-control" place-holder="Select your visitor from dropdown" asp-items="ViewBag.VisitorId" required> 
                            <option value="" disabled selected>Select your visitor from dropdown</option>
                            </select>
                       
                    </div>
                </div>
               
                <div class="form-group">
                    <label asp-for="EventId" class="control-label"><i class="fas fa-calendar-check"></i> Event</label>
                    <div class="input-group">
                    <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId">

                            <option value="" disabled selected>Select your visitor from dropdown</option>
                    </select>
                      
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Create Ticket" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


   
}



<style>
    /* CSS for dropdown arrow */
    .form-group:hover .input-group::after {
        content: "▼"; /* Arrow symbol that represents a dropdown */
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 20px;
        pointer-events: none;
    }
</style>