@model ZooApp.Models.Ticket

@{
    ViewData["Title"] = "Edit"; // Sets the page title displayed in the browser tab
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Links Bootstrap CSS for styling -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> <!-- Links Font Awesome CSS for icons -->

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <!-- Form begins with action attribute pointing to 'Edit' action in the current controller -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Validation summary area for model errors -->

            <input type="hidden" asp-for="TicketId" /> <!-- Hidden input field for TicketId -->

            <div class="form-group">
                <label asp-for="VisitorId" class="control-label"></label> <!-- Label for 'VisitorId' field -->
                <select asp-for="VisitorId" class="form-control" asp-items="ViewBag.VisitorId"></select> <!-- Dropdown select for 'VisitorId' -->
                <span asp-validation-for="VisitorId" class="text-danger"></span> <!-- Validation message for 'VisitorId' -->
            </div>

            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label> <!-- Label for 'EventId' field -->
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select> <!-- Dropdown select for 'EventId' -->
                <span asp-validation-for="EventId" class="text-danger"></span> <!-- Validation message for 'EventId' -->
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> <!-- Save button -->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> <!-- Link to navigate back to the list of tickets -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } <!-- Loads validation scripts -->
}
