@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @Model
        @if (!Model.StartsWith("Error"))
        {
            <br />
            <a class="btn btn-primary" href="/Identity/Account/Login">Go to Login Page</a>
        }
    </div>
}
