@{
    ViewData["Title"] = "About our Zoo";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<style>
    body {
        background-color: #f0f0f0;
        color: #333;
        font-family: Arial, sans-serif;
    }

    h1, h2, h4 {
        color: #005157;
    }

    .image-card {
        margin-bottom: 20px;
    }

        .image-card .card-img-top {
            height: 500px; /* Adjust height as needed */
            object-fit: cover;
            border-radius: 8px;
        }

        .image-card .card-body {
            text-align: center;
        }

        .image-card .card-text {
            color: #555;
        }
</style>

<div class="container">
    <header class="text-center mb-4">
        <h1>About Jetti's Zoo</h1>
    </header>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>Welcome to Jetti's Zoo, where dreams come true! As a child, I was always fascinated by the mystical beings that roam our planet. Animals have been on this earth longer than humans, and it's our responsibility to protect and preserve them.</p>
            <p>My childhood dream was to become a zookeeper, and now, I'm proud to own and operate Jetti's Zoo. Our mission is to provide a safe and nurturing environment for our animals, while also educating and inspiring our visitors to take action in protecting our planet's precious wildlife.</p>
            <p>At Jetti's Zoo, we're committed to providing a fun and educational experience for visitors of all ages. Our zoo is home to a diverse range of animals, from majestic mammals to fascinating reptiles and birds. We're dedicated to ensuring the well-being and safety of our animals, and we're passionate about promoting conservation and sustainability.</p>

           
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card image-card">
                <img src="~/images/trishankzoopic2.jpeg" class="card-img-top" alt="Zoo Image 2" />
                <div class="card-body">
                    <p class="card-text">Me at the Auckland Zoo's Entrance when I was 5</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
                Go Home?
            </a>
        </div>
    </div>
</div>
