@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 "><b>Welcome to Trishank's Zoo</b></h1>
    <h6 class="display-6 "><b>Where dreams come True</b></h6>
  
</div>
<style>
    /* Custom Styles */
    body {
        color: black;
        background-color: #f8f9fa;
    }


    h6 {
        color: #009bff;
        margin-bottom: 20px;

    }


    h1 {
        color: #007bff;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

    tr {
        text-decoration-color: black;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

