

@{
    
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for using our Zoo Application. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our mobile application (the "Application"). Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE APPLICATION.</p>

<p>We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the "Last updated" date of this Privacy Policy. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Application after the date such revised Privacy Policy is posted.</p>

<p><strong>COLLECTION AND USE OF INFORMATION</strong></p>

<p>
    We may collect certain personal data from users of our application, including but not limited to:
    <ul>
        <li>Information you provide us directly, such as your name, email address, phone number, and any other information you choose to provide.</li>
       
    </ul>
</p>

<p>
    We may use the information collected to:
    <ul>
        <li>Operate, maintain, and improve our Application;</li>
        <li>Respond to your comments, questions, and requests, and provide customer service;</li>
        <li>Send you technical notices, updates, security alerts, and support and administrative messages;</li>
        <li>Communicate with you about products, services, offers, promotions, and events;</li>
        <li>Monitor and analyze trends, usage, and activities in connection with our Application; and</li>
        <li>Personalize and improve the Application and provide content or features that match user profiles or interests.</li>
    </ul>
</p>

<p><strong>SECURITY OF YOUR INFORMATION</strong></p>

<p>We take reasonable precautions to protect the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. However, no security measure is completely secure, and we cannot guarantee the security of your information. But we can guarantee we will try our best to keep you safe!</p>

<p><strong>CONTACT US</strong></p>

<p>If you have any questions or concerns about this Privacy Policy or our practices, please contact my Email TrishankZoo@gmail.com.</p>

<p><strong>LAST UPDATED: 06/04/2024</strong></p>

<style>
    /* Custom Styles */
    body {
        color: black;
        background-color: #f8f9fa;
    }

    h1 {
        color: #007bff;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    th {
        background-color: #007bff;
        color: #fff;
    }

    tr {
        text-decoration-color: black;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
